@model AppMvc.Net.Models.ProductModel

@{
    var product = ViewData["Product"] as ProductModel;
}

<p>@ViewData["Title"]</p>
<div class="card bg-danger text-white">
    <h1 class="card-header">@product.Name</h1>
    <div class="card-body">
        <h3 class="card-title">Price: @product.Price</h3>
        <p class="card-text">This is a simple card example with a primary background color.</p>
        <a href="#" class="btn btn-danger">Buy Now</a>
    </div>
</div>
